* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: purple;
  color: white;
  text-align: center;
  padding: 20px;
}

footer {
  background-color: purple;
  color: white;
  text-align: center;
  padding: 20px;
}

main {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
  background-color: #f5f5f5;
  padding: 10px;
}

nav {
  background-color: #eee;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  grid-column: 1 / 2;
  grid-row: 1 / 8;
  padding: 20px;
}

h4 {
  color: darkslategray;
  font-size: 1.2rem;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

nav ul {
  list-style-type: none;
}

li {
  margin-bottom: 5px;
}

nav a {
  color: darkcyan;
  text-decoration: none;
}

aside {
  background-color: lightseagreen;
  grid-column: 3 / 4;
  grid-row: 1 / 8;
  padding: 10px;
  text-align: center;
}

section {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
  color: #333;
}

#banner {
  background-color: darkblue;
  color: white;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#message-display {
  background-color: blue;
  color: white;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#products {
  background-color: darkcyan;
  color: white;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

#reviews {
  background-color: cyan;
  color: black;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

#media {
  background-color: lightseagreen;
  color: white;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

#monthly-data {
  background-color: lightskyblue;
  color: black;
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

#contact {
  background-color: lightblue;
  color: black;
  grid-column: 2 / 3;
  grid-row: 7 / 8;
}
